<div *ngIf="flights.length > 0">
  <h2>Flight List</h2>
  <ul>
    <li *ngFor="let flight of flights">
      <strong>Departure:</strong> {{ flight.departure }} <br>
      <strong>Arrival:</strong> {{ flight.arrival }} <br>
      <strong>Date:</strong> {{ flight.date | date:'yyyy-MM-dd' }} <br>
      <strong>Time:</strong> {{ flight.time }} <br>
      <strong>Capacity:</strong> {{ flight.capacity }} <br>
      <strong>Price:</strong> {{ flight.price }} <br>
      <button *ngIf="isAdmin()" (click)="viewUsersByFlight(flight.id)">UserList</button>
      <button *ngIf="isAdmin()" (click)="updateFlight(flight.id)">Edit</button>
      <button *ngIf="isAdmin()" (click)="deleteFlight(flight.id)">Delete</button>
      <hr>
    </li>
  </ul>
</div>
<div *ngIf="flights.length === 0">
  <p>No flights available.</p>
</div>
