<!--
Bu bileşen, kullanıcıların sisteme giriş yapmasını sağlar. 
Kullanıcı formu doldurup gönderdiğinde, AuthService 
aracılığıyla kimlik doğrulama yapılır ve başarılı olursa 
kullanıcı ana sayfaya yönlendirilir. Hata durumunda, 
hata mesajı kullanıcıya gösterilir.
-->

<div class="login">
  <h2>Login</h2>
  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="username">Username:</label>
      <input id="username" [(ngModel)]="loginData.username" name="username" required>
      <!--form girdilerini loginData nesnesindeki ilgili özelliklere bağlar.-->
    </div>
    <div>
      <label for="password">Password:</label>
      <input id="password" type="password" [(ngModel)]="loginData.password" name="password" required>
    </div>
    <button type="submit">Login</button>
  </form>
  <div *ngIf="errorMessage" class="error-message">
  <!--Eğer errorMessage tanımlı ise hata mesajını gösterir.-->
    {{ errorMessage }}
  </div>
</div>
